
.login-page{
    /* max-width: 1890px; */
    max-width: 100%;
}
.login-page-wrapper{
    width: 100%;
    
}

.carousol{
    width: 1344px;
height: 987px;
}


.form-control{
    width: 401px;
    height: 56px;
}
.carousel-text{
    position: absolute;
    bottom: 48px;
    left: 155px;
}
.carousel-text h1{
    width: 592px;
height: 109px;
text-align: left;
font-family: 'Noto Sans', sans-serif;
font-weight: bold;
}
.carousel-text p{
    width: 849px;
height: 120px;
font-family: 'Noto Sans', sans-serif;
text-align: left;
}

.login-form{
    margin-top: 250px;
}
  
.password-label , .email-label{
    width: 102px;
height: 22px;
letter-spacing: 0px;
color: #414141;
}  
.privacy{
    margin-top: 250px;
}
