
.register-page {
  max-height: 683px;
}
.registration-form {
  max-width: 417px;
}
.carousel-caption h1{
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 43px;
}
.carousel-caption p{
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
}
.form-control{
    height: 48px;

}
.form-label{
    font-family: "Noto Sans", sans-serif;
    font-size: 17px;
}
.policy, .forgot-password ,.forgot-password span{
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
}
.page-instraction{
  font-family: "Noto Sans", sans-serif;

  font-size: 14px;
}
.page-title{
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;

}
.submit-btn{
  font-size: 17px;
}
